.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.container {}

.calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

h1 {
    text-align: center;
}

.form-control {}

.input-rectangle {}

.block-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}


.btn {}

.btn-primary {}

.btn-danger {}

.btn-success {}

.res {}

.res-square {}

.res-perimetr {}



/* Игра "Угадай число" */